*{
    margin: 0; padding: 0;

}

html{
    background-color: #4444;
}

body{
    width: 1200px; height: 2000px; margin: auto; 
background-color: rgb(217, 255, 192); 
}

header {
    width: 1200px; height: 350px;
background-color: yellow;
 }
 
nav {
    width: 1200px; height: 60px;
background-color: rgb(132, 127, 133);
 }

 main {
    width: 1200px; height: 1530px;
background-color: green; 
}

footer {
    width: 1200px; height: 70px;
background-color: rgb(31, 201, 201);
 }
 
section#banner{
    width: 1200px; height: 350px; float: left;
background-color: rgba(133, 79, 233, 0.856)
}

article {
    width: 950px; height: 1530px; float: left;
background-color: rgb(190, 190, 231);
}

aside#right{
    width: 250px; height: 720px; float: left;
background-color: rgb(133, 240, 34);
 position: relative;
}
