#icologo{
    position: relative;
    top: .5%;
    left: 0%;
    height:0%;
    width: auto;
}
h3{
    text-align: justify;
}
#imajen{
    position: relative;
    top: 6%;
    left: 45%;
    height:16;
    width: auto;
}
#right{
    position: relative;
    top: 9%;
    left: -1%;
    height:;
    width: auto;
}
.menu{
    width: 100%;
    height: 50px;
    display: flex;
    perspective: 200px;
    
    font:22px verdana,sans-serif;
    text-align:justify;
  
}

.menu ul{
    display: flex;
    margin: auto;
}

.menu li{
    list-style: none;
    padding: 10px 20px;
}

.menu li:hover{
    background: rgba(0,0,0,0.3);
    color: rgb(5, 5, 5);
    cursor: pointer;
    transition: all 300ms;    
}

.menu ul li ul{
    *display: none;
    flex-direction: column;
    position: absolute;
    background: rgb(12, 233, 233);
    margin-top: 15px;
    transform: rotateY(240deg) scale(0);
    transition: all 1s;
    box-shadow: 1px 1px 10px 0px black;
}

.menu ul li:hover > ul{
    transform: rotateY(0deg) scale(1);
    transition: all 1s;
}

.menu ul li ul:before{
    content: '';
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 8px solid rgb(12, 233, 233);
    position: absolute;
    margin-top: -8px;
    margin-left: 20px;
}

.menu ul li ul li ul li{
    position: relative;
}
.menu ul li ul li:hover > ul{
    transform: rotateY(0deg) scale(1);
}

.menu ul li ul li ul{
    right: -90px;
    top: 36px;
    background: rgb(236, 195, 232);
}

.menu ul li ul li ul:before{
    position: absolute;
    border-bottom: 8px solid rgb(236, 195, 232);
    margin-top: 18px;
    margin-left: -14px;
    transform: rotate(-90deg);
}



#boton li a{
    font-family: Arial;
    font-size: 22px;
    text-decoration: none;
    float: left;
    padding: 1px;
    background-color:rgb rgb(236, 195, 232);
    color:rgb(0, 0, 0);
    text-align: right;
    
}


#banner{
    font: bold 36px Arial;
    text-align: center;
    color: black;
}

#presenta{
    position: relative;

    font:11px verdana,sans-serif;
    text-align:justify;
    color: black;

    top:8%;
    left: 2%;
    height:67%;
    width: 85.5%;
    margin: 17px;
    padding: 37px;
    background-color:#B2D6F8;

    -moz-border-radius:14px;
    -webkit-border-radius:14px;
}


#pie{
    font: 16px Arial;
    text-align: center;
    color: black;
    }

h2{
    font: 19px Arial;
    text-align: justify;
}
h1{
      font: bold 20px Arial;
    text-align: center;
    color: black;
}
