
html{
	background-color: rgb(0,255,255);;
}
#registrousuario{
	background: transparent url("../formulario/formulario2.jpg")no-repeat scroll left bottom;
	border: medium none;
	color: black;
	height: 575px;
	width: 515px;
	padding: 0 0 0 50px;
	margin: 0 auto;

	-moz-border-radius:20px;
	-webkit-border-radius:20px;
}
#registrousuario legend{
	background: transparent url("../formulario/1.jpg") no-repeat scroll left top;
	color: black;
	font-family: Arial;
	text-align: center;
	font-size: 24px;
	letter-spacing: -1px;
	padding-top: 8px;
	padding-bottom: 20px;
	text-transform: capitalize;

	-moz-border-radius:20px;
	-webkit-border-radius:20px;
}

#registrousuario input.texto{
	background: #ffffff url("../formulario/5.jpg") no-repeat scroll left top;
	border: medium none !important;
	color: black;
	font-family: arial, sans-serif;
    font-size: 12px;
    letter-spacing: -1px;
    padding-top: 5px;
    padding-bottom: 0;
    padding-left: 5px;
    height: 24px;
    width: 454px;

   -moz-border-radius:20px;
   -webkit-border-radius:20px; 
}

#registrousuario label{
	display: block;
	font-family: aril,sans-serif;
	font-size: 14px;
	padding: 10px 0 3px;
}


#registrousuario input.botonenviar{
	background:transparent url("../formulario/formulario4.jpg") no-repeat scroll left top;
	color: black;
	display: block;
	float: left;
	 font-family: arial,sans-serif;
	 font-size:  12px;
	 text-align:  center;
	 height: 30px;
	 width: 99px;
	 margin-left:  360px;
	 margin-top:  35px;
	 border: none !important;

	 -moz-border-radius:20px;
   -webkit-border-radius:20px; 
}
